.container-detalhesDia {
    transition: all .5s ease-in-out;
    color: #333;
    background-color: #F8F8FC;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    .content-detals {
        width: 420px;
        max-width: 420px;
        max-height: 98vh;
        height: 98vh;

        header {
            padding: 10px;
            display: flex;

            svg {
                width: 60px;
                background-color: #e6e5e5ac;
                border-radius: 10px;
                padding: 0 10px;
                transition: .2s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: #e3e3e3;
                }
            }

            h2 {
                text-align: center;
                width: 70%;
            }
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;

            .div-informations {
                width: 90%;

                h3 {
                    margin: 8px;
                }

                .child-informations {
                    position: relative;
                    background-color: #d3d3d3;
                    padding: 10px 15px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    z-index: 999;

                    span {
                        display: flex;
                        align-items: center;

                        svg {
                            width: 28px;
                        }
                    }
                }

                .div-confirmation {
                    display: flex;
                    margin-top: -10px;
                    padding: 10px 8px 1px 10px;
                    background-color: #e7e7e7;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 0 0 10px 10px;

                    p {
                        margin-right: 10px;
                    }

                    svg {
                        cursor: pointer;
                        width: 40px;
                        height: 50px;
                        margin: 0 6px;

                        &:hover {
                            opacity: .8;
                        }
                    }

                    .btn1 {
                        opacity: 1;
                    }

                    .btn2 {
                        opacity: .4;
                    }
                }

                .confirmacao-concluida {
                    transition: all .5s ease-in-out;

                    .btn1 {
                        opacity: .4;
                    }

                    .btn2 {
                        opacity: 1;
                    }
                }
            }

            .div-avisos {
                background-color: #d3d3d3;
                width: 90%;
                margin-top: 30px;
                border-radius: 10px;

                .svg {
                    display: flex;
                    align-items: center;
                    margin-left: 15px;
                }

                p {
                    margin: 15px 5px;
                }

                form {
                    width: 70%;
                    max-width: 70%;
                }

                input {
                    width: 60%;
                    padding: 6px 15px;
                    margin: 0 10px;
                    border: 0;
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    transition: box-shadow 0.3s ease;

                    &:focus {
                        outline: 1px solid #333;
                    }
                }

                button {
                    width: 65px;
                    max-width: 65px;
                    background-color: #333;
                    color: white;
                    padding: 6px 0px;
                    border-radius: 8px;
                    border: 0;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        background-color: #33333390;
                    }
                }

                .content-avisos {
                    background-color: #e7e7e7;
                    padding: 13px;
                    display: flex;
                    min-height: 80px;
                    border-radius: 0 0 10px 10px;
                    max-width: 100%;
                    height: auto;

                    ul {
                        margin-left: 1px;
                        width: 100%;
                        max-width: 100%;

                        li {
                            font-weight: bold;
                            margin: 10px 0;
                            color: #a38b04;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 1.2em;

                            svg {
                                cursor: pointer;
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }

            .div-confirmados {
                background-color: #d3d3d3;
                width: 90%;
                margin-top: 30px;
                border-radius: 10px;

                p {
                    margin: 15px 15px;
                }

                .content-confirmados {
                    background-color: #e7e7e7;
                    padding: 13px;
                    display: flex;
                    min-height: 80px;
                    border-radius: 0 0 10px 10px;
                    max-width: 100%;
                    height: auto;

                    .div-img-svg {
                        position: relative;

                        img {
                            width: 45px;
                            height: 45px;
                            border-radius: 9999px;
                            margin-right: 10px;
                            object-fit: cover;

                            &+& img {
                                margin-left: 50px;
                            }
                        }

                        svg {
                            position: absolute;
                            z-index: 1;
                            top: 30px;
                            right: 10px;
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }

            .div-louvores {
                background-color: #d3d3d3;
                width: 90%;
                margin-top: 30px;
                border-radius: 10px;

                p {
                    margin: 15px 15px;
                }

                .content-louvores {
                    background-color: #e7e7e7;
                    padding: 13px;
                    display: flex;
                    min-height: 80px;
                    border-radius: 0 0 10px 10px;
                    max-width: 100%;
                    height: auto;

                    .div-main-li {
                        display: flex;
                        width: 350px;

                        .antes-li {
                            width: 12%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            input[type='checkbox'] {
                                position: relative;
                                margin-left: 5px;
                                width: 18px;
                                height: 18px;
                                border-radius: 50%;
                                appearance: none;
                                border: 2px solid black;
                                background-color: white;
                                outline: none;

                                &:checked {
                                    background-color: #049f04;
                                }

                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    background-color: #049f04;
                                    border-radius: 50%;
                                    display: none;
                                }

                                &:checked::after {
                                    content: '✔';
                                    position: absolute;
                                    font-weight: bold;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: #fff;
                                    font-size: 13px;
                                    display: block;
                                }
                            }
                        }

                        li {
                            padding: 0 5px;
                            display: flex;
                            font-weight: 500;
                            justify-content: space-between;
                            align-items: center;
                            width: 85%;
                        }

                        .depois-li {
                            width: 7%;

                            svg {
                                cursor: pointer;
                            }
                        }
                    }
                }

            }

            .div-sugestao {
                background-color: #d3d3d3;
                width: 90%;
                margin: 30px 0;
                border-radius: 10px;

                .div-sugestao-input {
                    display: flex;
                    align-items: center;

                    p {
                        margin: 15px 15px;
                    }
                    form {
                        width: 70%;
                        max-width: 70%;
                    }

                    input {
                        width: 60%;
                        padding: 6px 15px;
                        margin: 0 10px;
                        border: 0;
                        border-radius: 8px;
                        border: 1px solid #ccc;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        transition: box-shadow 0.3s ease;

                        &:focus {
                            outline: 1px solid #333;
                        }
                    }

                    button {
                        width: 65px;
                        max-width: 67px;
                        background-color: #333;
                        color: white;
                        padding: 6px 15px;
                        border-radius: 8px;
                        border: 0;
                        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                        transition: 0.2s ease-in-out;

                        &:hover {
                            background-color: #33333390;
                        }
                    }

                }

                .content-sugestao {
                    background-color: #e7e7e7;
                    padding: 13px;
                    display: flex;
                    min-height: 80px;
                    border-radius: 0 0 10px 10px;
                    max-width: 100%;
                    height: auto;

                    ul {
                        line-height: 23px;

                        li {
                            display: flex;
                            align-items: center;
                            height: 26px;
                        }

                        input[type='checkbox'] {
                            position: relative;
                            margin-right: 5px;
                            width: 17px;
                            height: 17px;
                            border-radius: 50%;
                            appearance: none;
                            border: 2px solid black;
                            background-color: white;
                            outline: none;

                            &:checked {
                                background-color: #049f04;
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background-color: #049f04;
                                border-radius: 50%;
                                display: none;
                            }

                            &:checked::after {
                                content: '✔';
                                position: absolute;
                                font-weight: bold;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: #fff;
                                font-size: 13px;
                                display: block;
                            }
                        }

                    }
                }
            }
        }
    }
}