body {
    background-color: #F8F8FC;
}

.container-home {
    background-color: #F8F8FC;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .content {
        position: relative;
        width: 420px;
        height: 95vh;
        max-width: 420px;
        max-height: 100vh;
        padding: 15px;

        header {
            width: 100%;
            display: flex;
            max-height: 65px;
            align-items: center;
            border-bottom: 1px solid #ccc;

            .hamb {
                width: 20%;

                svg {
                    width: 45px;
                    cursor: pointer;
                    transition: all .2s ease-in-out;

                    &:hover {
                        opacity: .8;
                    }
                }
            }

            .div-span {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 60%;
            }

            .div-nav {
                width: 20%;
                text-align: end;

                img {
                    width: 55px;

                }
            }
        }

        main {
            height: 80%;

            h3 {
                border-radius: 20px;
                padding: 10px;
                width: 45%;
                text-align: center;
                margin: 25px 0;
                font-weight: 500;
            }
        }


        // slide bar ===========================================================

        .slide-bar {
            position: absolute;
            top: 0;
            left: -80px;
            width: 0;
            height: 100%;
            padding: 50px 30px;
            background-color: #F8F8FC;
            border-right: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-radius: 0 20px 20px 0;
            transition: all .4s ease-in-out;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);

            .slide-content {
                display: none;
                color: #333;

                .user-profile {
                    position: relative;
                    background-color: #dce3eb;
                    padding: 10px;
                    border-radius: 18px;
                    display: flex;
                    transition: all .2s ease-in-out;

                    p {
                        margin: 10px;
                    }

                    span {
                        position: absolute;
                        right: 15px;
                        top: 30%;
                        font-size: 20px;
                    }

                    &:hover {
                        opacity: .8;
                        cursor: pointer;
                    }
                }

                .nav-links {
                    .div-ministerio {
                        padding: 35px 0 25px 10px;
                        border-bottom: 1px solid #ccc;

                        h3 {
                            font-weight: 400;
                        }

                        h4 {
                            font-weight: 400;
                            margin-left: 10px;
                        }
                    }

                    .close {
                        transition: all .2s ease-in-out;
                        margin-top: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 50vw;
                        max-height: 400px;

                        .close-content-menu {
                            display: flex;
                            padding: .4em;
                            border-radius: 10px;
                            margin-top: 10px;

                            &:hover {
                                cursor: pointer;
                                background-color: #cccccc3c;
                            }
                        }

                        svg {
                            width: 25px;
                            margin-right: -15px;
                        }

                        button {
                            background-color: transparent;
                            border: 0;
                            cursor: pointer;
                            padding: 10px 20px;
                            font-size: 15px;
                            color: #333;
                        }

                        
                    }
                }
            }

            .slide-content-open {
                display: block;
            }
        }

        .slide-bar-open {
            left: 0;
            opacity: 1;
            width: 70%;
        }


        .btn-add-dia {
            position: absolute;
            right: 30px;
            bottom: 10%;
            background-color: #4067b9;
            cursor: pointer;
            padding: 10px;
            transition: all .2s ease-in-out;
            border: 0;
            width: 50px;
            height: 46px;
            border-radius: 8px;
            color: #fff;
            box-shadow: 1px 1px 4px #000;

            &:hover {
                background-color: #164dc2;
            }
        }
    }
}