.container-home {
    background-color: #F8F8FC;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .content {
        border: 2px solid black;
        width: 420px;
        max-width: 420px;
        max-height: 100vh;
        padding: 15px;

        header {
            width: 100%;
            display: flex;
            max-height: 65px;
            align-items: center;
            border-bottom: 1px solid #ccc;

            .hamb {
                width: 20%;

                svg {
                    width: 45px;
                    cursor: pointer;
                    transition: all .2s ease-in-out;

                    &:hover {
                        opacity: .8;
                    }
                }
            }

            .div-span {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 60%;
            }

            .div-nav {
                width: 20%;
                text-align: end;

                img {
                    width: 55px;
                }
            }
        }

        main {
            h3 {
                background-color: #dce3eb;
                border-radius: 20px;
                padding: 10px;
                width: 45%;
                text-align: center;
                margin: 25px 0 30px 0;
                font-weight: 400;
            }

            .content-main {
                display: flex;
                margin-bottom: 40px;

                .div-colum {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    span {
                        margin: 0 5px;
                    }

                    .barrinha {
                        font-weight: 100;
                        font-size: 70px;
                    }
                }

                .div-row-content {
                    width: 100%;

                    .row-content {
                        margin-top: 5px;
                        color: #113583;
                        background-color: #dce3eb;
                        padding: 10px;
                        border-radius: 15px;
                        width: 100%;

                        p{
                            font-weight: 500;
                        }

                        img {
                            width: 35px;
                            border-radius: 9999px;
                        }
                    }
                }
            }
        }
    }
}